.cartContainer {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}


.cartEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  color: #555;
  font-size: 24px;
}

.bagIcon {
  font-size: 64px;
  margin-bottom: 20px;
}

.startShopping {
  margin-top: 20px;
}

.iconCart {
  font-size: 24px;
  margin-right: 10px;
}

.cartTitles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.cartItems {
  margin-top: 20px;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.cartProduct {
  display: flex;
  align-items: center;
}

.cartProduct img {
  width: 80px;
  margin-right: 20px;
}

.cartPrice,
.cartTotalPrice {
  font-weight: bold;
}

.cartQuantity {
  display: flex;
  align-items: center;
}

.cartQuantity button {
  background: transparent;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  border: 1px solid gray;
  justify-content: center;
}

.count {
  margin: 0px 10px;
  font-size: 18px;
  font-weight: bold;
}

.cartSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.clearCart {
  background-color: #ddd;
  color: #555;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.cartCheckout {
  text-align: right;
}

.cartCheckout button {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.subtotal {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.amount {
  margin-left: 10px;
}

.cartLogin {
  margin-left: 10px;
}

.secondary {
  background-color: #555;
  color: #fff;
}

.primary {
  background-color: #007bff;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .cartContainer {
    margin: 20px;
    padding: 10px;
  }
  .cartCheckout button {
    font-size: 1rem;
    padding: 8px 16px;
  }
}